<h1>News</h1>

<h2>Service:</h2>

<p>
  Special issue editor: Emerging networks and blockchain technology 
  (<a href="https://www.mdpi.com/journal/mathematics/special_issues/KK83053602">https://www.mdpi.com/journal/mathematics/special_issues/KK83053602</a>).
  Please consider submitting your work.
</p>

<ul>
  <li>TPC member Sigmetrics &apos;23</li>
  <li>Organized Workshop on Blockchains and Networking, Sigmetrics &apos;22</li>
  <li>TPC member Sigmetrics &apos;22</li>
  <li>TPC member ICBC &apos;22</li>
  <li>TPC member ITC &apos;34</li>
  <li>TPC member Mobihoc &apos;22</li>
  <li>TPC member Sigmetrics &apos;21</li>
  <li>TPC member Mobihoc &apos;22</li>
  <li>
    TPC member Workshop on 
    <a href="https://networking.ifip.org/2021/workshops/di2f-decentralising-the-internet-with-ipfs-and-filecoin">Decentralising the Internet with IPFS and Filecoin (DI2F)</a> 
    (part of <a href="https://networking.ifip.org/2021/">IFIP Networking &apos;21</a>)
  </li>
</ul>

<h2>Some articles on Dandelion</h2>
<p>(papers <a href="https://dl.acm.org/doi/10.1145/3084459">here</a> and <a href="https://arxiv.org/pdf/1805.11060">here</a>):</p>
<ul>
  <li><a href="https://crypto.news/">BTCManager</a></li>
  <li><a href="https://cyberscoop.com/researchers-redesign-bitcoin-anonymity-u-s-law-enforcement-hires-specialists/">CyberScoop</a></li>
  <li><a href="https://news.bitcoin.com/dandelion-bitcoin-anonymize-transaction-broadcasts/">Bitcoin</a></li>
  <li><a href="https://www.oodlestechnologies.com/blogs/Bitcoin-To-Get-More-Anonymous-With-The-New-BIP-Called-Dandelion/">Oodlestechnologies</a></li>
  <li><a href="https://infocoin.net/en/2018/05/15/bitcoin-privacy-proposal/">InfoCoin</a></li>
  <li><a href="https://www.wired.com/story/harry-pottery-cryptocurrency-privacy-zcash-monero/">Wired</a></li>
</ul>

<style>
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #FFFFFF;
}

h1 {
  font-size: 50px;
  color: #89CFF0;
}

h2 {
  font-size: 30px;
  margin-top: 20px;
  color: #000000;
}

p, ul {
  font-size: 18px;
  line-height: 1.6;
  list-style-type: none;
}

a {
  color: #1a0dab;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
</style>