<div class="container">

  <div class ="cross-link">
    <a href="http://localhost:4567/home.html"> Home </a>
    <a href="http://localhost:4567/news.html"> News </a>
    <a href="http://localhost:4567/research.html"> Research </a>
    <a href="http://localhost:4567/teachings.html"> Teachings </a>
    <a href="http://localhost:4567/students.html"> Students </a>
  </div>  

<h1>News</h1>

  <h2>Service:</h2>

  <p>
    Special issue editor: Emerging networks and blockchain technology 
    (<a href="https://www.mdpi.com/journal/mathematics/special_issues/KK83053602">https://www.mdpi.com/journal/mathematics/special_issues/KK83053602</a>).
    Please consider submitting your work.
  </p>

  <ul>
    <li>TPC member Sigmetrics &apos;23</li>
    <li>Organized Workshop on Blockchains and Networking, Sigmetrics &apos;22</li>
    <li>TPC member Sigmetrics &apos;22</li>
    <li>TPC member ICBC &apos;22</li>
    <li>TPC member ITC &apos;34</li>
    <li>TPC member Mobihoc &apos;22</li>
    <li>TPC member Sigmetrics &apos;21</li>
    <li>TPC member Mobihoc &apos;22</li>
    <li>
      TPC member Workshop on 
      <a href="https://networking.ifip.org/2021/workshops/di2f-decentralising-the-internet-with-ipfs-and-filecoin">Decentralising the Internet with IPFS and Filecoin (DI2F)</a> 
      (part of <a href="https://networking.ifip.org/2021/">IFIP Networking &apos;21</a>)
    </li>
  </ul>

  <h2>Some articles on Dandelion</h2>
  <p>(papers <a href="https://dl.acm.org/doi/10.1145/3084459">here</a> and <a href="https://arxiv.org/pdf/1805.11060">here</a>):</p>
  <div class="articles-links">
    <ul>
      <li><a href="https://crypto.news/">BTCManager</a></li>
      <li><a href="https://cyberscoop.com/researchers-redesign-bitcoin-anonymity-u-s-law-enforcement-hires-specialists/">CyberScoop</a></li>
      <li><a href="https://news.bitcoin.com/dandelion-bitcoin-anonymize-transaction-broadcasts/">Bitcoin</a></li>
      <li><a href="https://www.oodlestechnologies.com/blogs/Bitcoin-To-Get-More-Anonymous-With-The-New-BIP-Called-Dandelion/">Oodlestechnologies</a></li>
      <li><a href="https://infocoin.net/en/2018/05/15/bitcoin-privacy-proposal/">InfoCoin</a></li>
      <li><a href="https://www.wired.com/story/harry-pottery-cryptocurrency-privacy-zcash-monero/">Wired</a></li>
    </ul>
  </div>

</div>

<style>

.container {
  max-width: 800px;
  background: #fff;
  padding: 30px;
  box-shadow: 0 0 25px #200;
  border-radius: 30px;
}

h1 {
  color: #1a73e8;
  text-align: center;
  font-size: 50px;
  margin-bottom: 20px;
  font-weight: bold;
}

h2 {
  color: #200000;
  font-size: 30px;
  margin-top: 20px;
}

p, ul {
  line-height: 2;
  margin: 15px 0;
}

ul {
  list-style-type: none;
  padding-left: 20px;
}

a {
  color: #1a73e8;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.articles-links ul {
  display: flex;
}

.articles-links li {
  margin-right: 30px;
}

.cross-link{
  display: flex;
  justify-content: center; 
  align-items: center;     
  height: 100px;    
  background-color: #05014a;
  border-radius: 15px;

}

.cross-link a{
  color: #ADD8E6;
  margin-left: 15px;
  margin-right: 15px;
  font-size: 30px;
  font-weight: bold;
}

body {
  background-color: #ADD8E6;
  display: flex;
  justify-content: center;       
  margin: 0;              
}

</style>