---
title: Students
---
<div style="align: center;">
<h1>Students</h1>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Program</th>
            <th>Co-Advisor</th>
        </tr>
    </thead>
    <tbody>
       <tr>
            <td>Yifan Mao</td>
            <td>Ph.D.</td>
            <td class="tdset"> - </td>
        </tr>
        <tr>
            <td><a href="https://yunqiz.com/" >Yunqi Zhang</a></td>
            <td>Ph.D.</td>
            <td class="tdset"> - </td>
        </tr>
        <tr>
            <td>Jingren Wei</td>
            <td>Ph.D.</td>
            <td class="tdset"> -  </td>
        </tr>
        <tr>
            <td>Arti Vedula</td>
            <td>Ph.D.</td>
            <td class="tdset">Prof. Abhishek Gupta</td>
        </tr>
        <tr>
            <td>Patrick Yang</td>
            <td>Masters</td>
            <td class="tdset"> - </td>
        </tr>
        <tr>
            <td>Mei Gunawardena</td>
            <td>Undergrad</td>
            <td class="tdset"> - </td>
        </tr>
        
    </tbody>
</table>
</div>
<style>
    table {
        width: auto;
        border-collapse: collapse;
        border: 2px solid black;
        margin: auto;
    }
    th, td {
        border: 2px solid black;
        padding: 8px;
        text-align: left;
    }

   td.tdset {
        text-align: center;
    }

    tr:hover {
        background-color: #f5f5f5;
    }
</style>